@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');
//Main Wrapper and Overall Elements
body{
    width: 100%;
    height: 100%;
}
button {
    outline: none;
    background: transparent;
    border: none;
}
h1,h2,h3,h4 {
    font-family: 'Ubuntu', sans-serif;
}
form {
    margin-bottom: 1rem;
}
.appOuterDiv{
    position: relative;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.mainBody{
    padding-top: 73px;
    color: #1D3557;
    flex: 1;
    display: flex;
    justify-content: center;
}
//404 Page
.notFound{
    text-align: center;
    margin: 5%;
}
.notFound img {
    max-width: 50%;
}
.notFound :any-link {
    color: #086788;
  }
// Loader Component
.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingImage {
    
}
//Browse
.browseMain{
    // height: 81vh;
}

//Home Page
.homePageContainer {
    // height: 78vh;
    text-align: center;
    color: #1d3557;
    margin-bottom: 5%;
}
//Results
.resContainer h2 {
    width:80%;
    text-align: center;
    margin: auto;
}
.accountBtn {
    background-color: #00A7E1;
    border-color: #086788;
    margin-bottom: 1vh;
}
.backBtn {
    border: 2px solid #00A7E1;
    border-radius: 5px;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    order: 6;
}
.backBtn:hover {
    text-shadow: 1px 1px 3px #1d3557;
}

//Footer
.footerContainer{
    width: 100%;
    background: #00A7E1;
    color: snow;
    flex-shrink: 0;
}
.footer {
    display: flex;
    flex-direction: column;
    font-size: .7em;
}
.footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 10px 0 7px 0;
}
.footer p {
    display: flex;
    justify-content: center;
    margin: 0 0 8px;
}

//Animation
.spinner {
    width: 200px;
    height: 200px;
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



//Media Queries

@media only screen and (max-width: 360px) {
    .stars>div>span{
        font-size: 18px;
    }
}
@media only screen and (max-width: 450px) {
    .logo {
        max-width: 80%;
        height: auto;
    }
    .modal-main {
        margin-top: 8%;
        width: 80%;
        margin-left: 12%;
    }
}
@media only screen and (min-width: 361px) {
    .stars>div>span{
        font-size: 24px;
    }
}
@media only screen and (min-width: 750px) {
    .resItemImg {
        margin-bottom: 5%;
    }
    .resContainer {
        margin-top:2%;
    }
    .aboutPageContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .devItem{
        width: 40%;
        margin: 0 auto;
        margin-bottom: 2%;
    }
    .resItem {
        width: 20%;
        margin: 0 2%;
    }
    .detailContainer{
        width: 80%;
        margin: auto;
        margin-bottom: 10vh;
    }
    .notFound img {
        max-width: 30%;
    }
    .gameBlock {
        margin-bottom: 15%
    }
    .backBtn {
        margin-top: 1vh;
    }
}
@media only screen and (min-width: 750px) and (max-width: 909px) {
    .stars>div>span{
        font-size: 24px;
    }
    
}
@media only screen and (min-width: 910px) {
    .stars>div>span{
        font-size: 30px;
    }
}